body {
    /*文本*/
    font-family: 微软雅黑;
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}

p {
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}

.smallPhoto {
    /*大小*/
    height: 189px;
    width: 217px;
    /*浮动*/
    float: left;
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
    /*背景*/
    background-size: 217px 189px;
}

#largeSlidingPages {
    /*大小*/
    height: 234px;
    width: 1088px;
    /*文本*/
    text-align: left;
    font-size: 20px;
    line-height: 100px;
    /*背景*/
    background-image: url(img/siteTitleBG.jpg);
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}

#sitesTitle {
    font-size: 50px;
}

/*#s1 {
    background-image: url(img/smallPhoto-1.jpg);
}
#s2 {
    background-image: url(img/smallPhoto-2.jpg);
}
#s4 {
    background-image: url(img/smallPhoto-3.jpg);
}*/