body {
    /*文本*/
    font-family: 微软雅黑;
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}

p {
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}

/*.chunk {
    浮动
    float:left;
}*/

.smallPhoto {
    /*大小*/
    height: 189px;
    width: 212px;
    /*浮动*/
    float: left;
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
    /*背景*/
    background-size: 212px 189px;
}

.mediumPhoto {
    /*大小*/
    height: 189px;
    width: 531px;
    /*浮动*/
    float: left;
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
    /*背景*/
    background-size: 531px 189px;
}

#largeSlidingPages {
    /*大小*/
    height: 234px;
    width: 1088px;
    /*文本*/
    text-align: left;
    font-size: 20px;
    line-height: 100px;
    /*背景*/
    background-image: url(img/siteTitleBG.jpg);
    /*边框*/
    border: none;
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}

#sitesTitle {
    font-size: 50px;
}